
bin/
obj/
publish/
*.user
*.suo
*.userosscache
TestResults/
node_modules/
dist/
.angular/
out-tsc/
npm-debug.log*
.sass-cache/
Database/*.db
Database/*.db-shm
Database/*.db-wal
.vs/
.vscode/
.idea/
Thumbs.db
.DS_Store
*.log
